@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {

    --DarkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --VeryDarkBlue: hsl(212, 21%, 14%);
    --DarkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

}

body {

    margin: 0;
    padding: 0;
    background-color: var(--Cream);
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    display: flex;

}
.container {

    margin: auto auto;
    max-width: 730px;
    text-align: left;

}

.card {

    display: flex;
    background-color: var(--White);
    border-radius: 8px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1) ;

}

.text {

    padding: 0 40px;

}


.card img {

    width: 100%;
    height: 100%;
    max-width: 360px;
    border-radius: 8px 0 0 8px;

}


h3 {

    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: var(--DarkGrayishBlue);
    font-weight: 400;
    letter-spacing: 7px;
    font-size: .9rem;
    padding-top: 2.5rem;

}

h1 {

    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;

}

.text p {

    font-size: 1rem;
    color: var(--DarkGrayishBlue);
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    padding-right: 10px;

}

.info {

    display: flex;
    text-align: center;
    align-items: center;

}

.info p {

    color: var(--DarkCyan);
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;

}

.info span {

    color: var(--DarkGrayishBlue);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}

.btn button {

    background-color: var(--DarkCyan);
    border: none;
    color: var(--White);
    padding: 16px 75px;
    border-radius: 8px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}

button {

    display: flex;
    align-items: center;

}

.btn img {

    height: 1rem;
    width: auto;
    padding-right: 15px;

}

.footer {

    margin: 1.5rem;

}

.footer span a{

    color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;

}

@media only screen and (max-width: 750px) {

    .card {

        flex-direction: column;

    }

    .container {

        padding: 20px;

    }

    .card img {

        border-radius: 8px 8px 0 0;
        max-width: 100%;

    }

    .text {

        margin-top: 0;

    }

    .btn button {

        padding: 16px 60px;

    }

    .btn {

        padding-bottom: 40px;

    }

    
}